<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body background="/static/c5.jpeg">

<h1 id="heading">REGISTER HERE !!!!!!</h1>

<div>
   <form action="" method="post" class="f">
    <label>NAME</label>
    <input class = "box" name = "username" id="uname" type ="text" placeholder="write your name"><br><br>
    <label>UID</label>
    <input class = "box" name = "uid" id ="uid" type="text" placeholder="write your uid"><br><br>
    <label>COMPANY NAME</label>
    <input class = "box" name = "company_name" id="cname" type="text" placeholder="write your company name"><br><br>
    <label>EMAIL</label>
    <input class = "box" name="email" id="email" type="email" placeholder="write your email"><br><br>
    <input class ="btn" name="submit" id = "sumit" type="submit" value="submit" checked="checked">
</form>
</div>

</body>



</html>